<!-- <h3>Welcome</h3>
  <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p> -->

  <!-- Header -->
  <div id="header-area" class="header">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Make the Internet a better place</div>
        <div class="intro-heading">Get Rewarded</div>
        <a href="#how-it-works" class="page-scroll btn btn-xl">Learn More</a>
        <a href="#how-it-works" class="page-scroll btn btn-xl">Get It Now </a>
      </div>
    </div>
  </div>

  <!-- How it Works Section -->
  <section id="how-it-works" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
          <h2 class="section-heading">How It Works</h2>
          <h3 class="section-subheading text-muted">Get rewarded for identifying typos and other content errors. We've integrated with the largest content publishers to notify them right away!</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-cloud-download fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">1. Install the Chrome Extension</h4>
          <p class="text-muted">Quickly install the Chrome Extension to begin pointing out errors on any site.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i id="fa-edit" class="fa fa-edit fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">2. Find a Typo</h4>
          <p class="text-muted">When you see an error, simply highlight it and click the button in chrome.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">3. Win an Amazon Gift Card</h4>
          <p class="text-muted">Win a $50 Amazon Gift Card if you're one of the top finders!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Media Companies -->
<!--   <div id="media-companies" class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <a href="#">
          <%= image_tag("logos/nytimes_200.png", :alt => "", :class => "img-responsive img-centered") %>
        </a>
      </div>
      <div class="col-md-3 col-xs-6">
        <a href="#">
          <%= image_tag("logos/huffpo_200.png", :alt => "", :class => "img-responsive img-centered") %>
        </a>
      </div>
      <div class="col-md-3 col-xs-6">
        <a href="#">
          <%= image_tag("logos/wsj_200.png", :alt => "", :class => "img-responsive img-centered") %>
        </a>
      </div>
      <div class="col-md-3 col-xs-6">
        <a href="#">
          <%= image_tag("logos/techcrunch_200.png", :alt => "", :class => "img-responsive img-centered") %>
        </a>
      </div>
    </div>
  </div> -->

  <section id="what-we-do">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12  text-center">
          <h2 class="section-heading">What We'll Do</h2>
          <h3 class="section-subheading text-muted">We'll take your submissions and send them straight to the editors of your favorite publications. We've integrated with them directly so they'll shoot to the top of the list!</h3>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 class="section-heading text-center">FAQ</h2>
          <h4>Who built this app?</h4>
          <h3 class="section-subheading text-muted">Built by Corbin Page</h3>
          <h4>How will I be contacted to receive my Amazon gift card?</h4>
          <h3 class="section-subheading text-muted">We'll send you an email!</h3>
          </div>
        </div>
      </div>
    </section>